body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#result {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}

.buttons button {
    width: 60px;
    height: 40px;
    margin: 3px;
    font-size: 18px;
}
